<%= will_paginate @countries %>

<% @countries.each do |country| %>
  <div class='f32'>
    <span class="country-name"><%= country.name %></span>
    <span class="flag <%= country.abbreviation %>"></span>
    <span class="country-abbr"><%= country.abbreviation %></span>
  <br /></div>
<% end %>

<%= will_paginate @countries %>