<!DOCTYPE html>
<html>
<head>
  <title>AjaxFlags</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<div class="boxy">
		<%= link_to 'Display all countries', countries_path, id: 'populate-all-button', class: 'btn' %>
		<%= link_to 'Clear countries list', '/', id: 'reset-button', class: 'btn' %>
		<%= link_to 'Show more countries', '/', id: 'show-more-countries-button', class: 'btn' %>
	</div>
	<%= yield %>
</div>
</body>
</html>
